<!-- footer.ejs -->
<footer>
    <div class="columnas">
        <span>Contactanos</span>
        <ul class="lista-footer">
            <li><a href="http://localhost:3000/"><img src="/images/telescopio.png" alt="Conocenos"></a></li>
            <li><a href="https://www.facebook.com/"><img src="/images/facebook.png" alt="Facebook"></a></li>
            <li><a href="https://wa.me/5583614589"><img src="/images/correo.png" alt="correo"></a></li>
        </ul>
    </div>
    <div class="div-terminos">
        <span>Todos los derechos reservados © <%= currentYear %></span> <!--Derechos reservados dinamicos para el año actual de consulta de la pagina web-->
    </div>
</footer>